<div class="container-fluid">

  <div class="row">

    <div class="col-lg-3 col-sm-3 tempimg">
      <a class="nav-link" routerLink="/third/forth">
        <img class="card-img-top image" src="../../assets/images/angular_solidBlack.svg" alt="Card image cap">
        <div class="middle">
          <div class="text">Project 1</div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-sm-3 tempimg">
      <a class="nav-link" routerLink="/third/forth">
        <img class="card-img-top image" src="../../assets/images/api.svg" alt="Card image cap">
        <div class="middle">
          <div class="text">Project 2</div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-sm-3 tempimg">
      <a class="nav-link" routerLink="/third/forth">
        <img class="card-img-top image" src="../../assets/images/process.svg" alt="Card image cap">
        <div class="middle">
          <div class="text">Project 3</div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-sm-3 tempimg">
      <a class="nav-link" routerLink="/third/forth">
        <img class="card-img-top image" src="../../assets/images/java.svg" alt="Card image cap">
        <div class="middle">
          <div class="text">Project 4</div>
        </div>
      </a>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-3 col-sm-3 tempimg">
      <a class="nav-link" routerLink="/third/forth">
        <img class="card-img-top image" src="../../assets/images/hashtag.svg" alt="Card image cap">
        <div class="middle">
          <div class="text">Project 5</div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-sm-3 tempimg">
      <a class="nav-link" routerLink="/third/forth">
        <img class="card-img-top image" src="../../assets/images/coding-white.svg" alt="Card image cap">
        <div class="middle">
          <div class="text">Project 6</div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-sm-3 tempimg">
      <a class="nav-link" routerLink="/third/forth">
        <img class="card-img-top image" src="../../assets/images/coding-white.svg" alt="Card image cap">
        <div class="middle">
          <div class="text">Project 7</div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-sm-3 tempimg">
      <a class="nav-link" routerLink="/third/forth">
        <img class="card-img-top image" src="../../assets/images/coding-white.svg" alt="Card image cap">
        <div class="middle">
          <div class="text">Project 8</div>
        </div>
      </a>
    </div>

  </div>
</div>